body {
    font-family: 'Courier New', Courier, monospace;
    background: url(backgroundimage.webp) no-repeat center;
    background-size: cover;
    background-color: black;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(237, 215, 193);
    text-shadow: black 5px 5px 5px;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-variant: small-caps;
    font-size: 80px;
    text-shadow: rgb(22, 22, 22) 5px 5px 5px;
}

p {
    margin-bottom: 80px;
}

#message-el {
    font-size: 26px;
    margin-top: -60px;
    font-style: italic;
}

button {
    width: 200px;
    background: rgb(222, 153, 56);
    font-size: 20px;
    color: rgb(15, 15, 14);
    padding: 20px;
    border: none;
    color: rgb(237, 215, 193);
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    margin: 10px auto;
}

button:hover {
    cursor: pointer;
}

button:active {
    background: rgb(150, 103, 36);
}